/*
0-600: PHONE
600-900: tablet
900-1200: landscape
1200-1800: normal styles
1800+: big screen 
*/
/* line 1, sass/base/_base.scss */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* line 9, sass/base/_base.scss */
html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    /* line 9, sass/base/_base.scss */
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    /* line 9, sass/base/_base.scss */
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    /* line 9, sass/base/_base.scss */
    html {
      font-size: 75%; } }

/* line 24, sass/base/_base.scss */
body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    /* line 24, sass/base/_base.scss */
    body {
      padding: 0rem; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 1;
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 1;
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    opacity: 1;
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* line 3, sass/base/_typography.scss */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

/* line 11, sass/base/_typography.scss */
.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  /* line 17, sass/base/_typography.scss */
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 0.8s ease-in-out; }
    @media (max-width: 37.5em) {
      /* line 17, sass/base/_typography.scss */
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  /* line 30, sass/base/_typography.scss */
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 0.8s ease-in-out; }
    @media (max-width: 37.5em) {
      /* line 30, sass/base/_typography.scss */
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

/* line 42, sass/base/_typography.scss */
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.3s ease-in-out; }
  @media (max-width: 56.25em) {
    /* line 42, sass/base/_typography.scss */
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    /* line 42, sass/base/_typography.scss */
    .heading-secondary {
      font-size: 2.5rem; } }
  /* line 65, sass/base/_typography.scss */
  .heading-secondary:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

/* line 71, sass/base/_typography.scss */
.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

/* line 77, sass/base/_typography.scss */
.paragraph {
  font-size: 1.6rem; }
  /* line 80, sass/base/_typography.scss */
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/* line 1, sass/base/_utilities.scss */
.u-center-text {
  text-align: center; }

/* line 5, sass/base/_utilities.scss */
.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    /* line 5, sass/base/_utilities.scss */
    .u-margin-bottom-big {
      margin-bottom: 5rem; } }

/* line 13, sass/base/_utilities.scss */
.u-margin-bottom-medium {
  margin-bottom: 4rem; }
  @media (max-width: 56.25em) {
    /* line 13, sass/base/_utilities.scss */
    .u-margin-bottom-medium {
      margin-bottom: 3rem; } }

/* line 20, sass/base/_utilities.scss */
.u-margin-bottom-small {
  margin-bottom: 1.5rem; }
  @media (max-width: 56.25em) {
    /* line 20, sass/base/_utilities.scss */
    .u-margin-bottom-small {
      margin-bottom: 1rem; } }

/* line 27, sass/base/_utilities.scss */
.u-margin-bottom-huge {
  margin-top: 10rem; }
  @media (max-width: 56.25em) {
    /* line 27, sass/base/_utilities.scss */
    .u-margin-bottom-huge {
      margin-top: 8rem; } }

/* line 34, sass/base/_utilities.scss */
.u-margin-bottom-big {
  margin-top: 8rem; }
  @media (max-width: 56.25em) {
    /* line 34, sass/base/_utilities.scss */
    .u-margin-bottom-big {
      margin-top: 5rem; } }

/* line 41, sass/base/_utilities.scss */
.u-margin-top-huge {
  margin-top: 10rem; }
  @media (max-width: 56.25em) {
    /* line 41, sass/base/_utilities.scss */
    .u-margin-top-huge {
      margin-top: 6rem; } }

/* line 2, sass/components/_button.scss */
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s ease-in-out;
  position: relative;
  border: none; }

/* line 14, sass/components/_button.scss */
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2); }
  /* line 18, sass/components/_button.scss */
  .btn:hover:after {
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0; }

/* line 24, sass/components/_button.scss */
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/* line 29, sass/components/_button.scss */
.btn--white {
  background-color: #ffffff;
  color: #777;
  padding: 1.5rem 4rem; }
  /* line 34, sass/components/_button.scss */
  .btn--white::after {
    background-color: #ffffff; }

/* line 39, sass/components/_button.scss */
.btn--green {
  background-color: #55c57a;
  color: #ffffff;
  padding: 1.5rem 4rem; }
  /* line 44, sass/components/_button.scss */
  .btn--green::after {
    background-color: #55c57a; }

/* line 49, sass/components/_button.scss */
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s ease-in-out; }

/* line 62, sass/components/_button.scss */
.btn--animated {
  animation: moveInBottom 0.5s 0.7s ease-in-out;
  animation-fill-mode: backwards; }

/* line 69, sass/components/_button.scss */
.btn-text:link, .btn-text:visited {
  color: #55c57a;
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out; }

/* line 80, sass/components/_button.scss */
.btn-text:hover {
  color: #ffffff;
  background-color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translate(0, -0.2rem); }

/* line 87, sass/components/_button.scss */
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translate(0, 0.2rem); }

/* line 1, sass/components/_composition.scss */
.composition {
  position: relative; }
  /* line 4, sass/components/_composition.scss */
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    position: absolute;
    transition: all 0.3s ease-in-out;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      /* line 4, sass/components/_composition.scss */
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    /* line 19, sass/components/_composition.scss */
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        /* line 19, sass/components/_composition.scss */
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.3); } }
    /* line 27, sass/components/_composition.scss */
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        /* line 27, sass/components/_composition.scss */
        .composition__photo--p2 {
          top: 0;
          transform: scale(1.5);
          z-index: 100; } }
    /* line 36, sass/components/_composition.scss */
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        /* line 36, sass/components/_composition.scss */
        .composition__photo--p3 {
          top: 0;
          left: 0;
          transform: scale(1.3); } }
    /* line 46, sass/components/_composition.scss */
    .composition__photo:hover {
      outline: 1rem solid #55c57a;
      z-index: 1;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.8);
      transform: scale(1.05) translateY(-0.5rem); }
  /* line 54, sass/components/_composition.scss */
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

/* line 1, sass/components/_feature-box.scss */
.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-style: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out; }
  /* line 9, sass/components/_feature-box.scss */
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25); }
  /* line 13, sass/components/_feature-box.scss */
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }

/* line 1, sass/components/_cards.scss */
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 52rem; }
  /* line 6, sass/components/_cards.scss */
  .card__side {
    height: 52rem;
    transition: all 0.8s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    /* line 18, sass/components/_cards.scss */
    .card__side--front {
      background-color: #ffffff; }
    /* line 22, sass/components/_cards.scss */
    .card__side--back {
      transform: rotateY(180deg); }
      /* line 24, sass/components/_cards.scss */
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      /* line 31, sass/components/_cards.scss */
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      /* line 38, sass/components/_cards.scss */
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  /* line 48, sass/components/_cards.scss */
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  /* line 52, sass/components/_cards.scss */
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  /* line 57, sass/components/_cards.scss */
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    /* line 63, sass/components/_cards.scss */
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../../img/nat-5.jpg"); }
    /* line 71, sass/components/_cards.scss */
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../../img/nat-6.jpg"); }
    /* line 79, sass/components/_cards.scss */
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../../img/nat-7.jpg"); }
  /* line 89, sass/components/_cards.scss */
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    text-align: right;
    top: 12rem;
    right: 2rem;
    width: 73%; }
  /* line 101, sass/components/_cards.scss */
  .card__heading-span {
    padding: 0.5rem;
    -webkit-box-decoration-break: clone; }
    /* line 104, sass/components/_cards.scss */
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    /* line 112, sass/components/_cards.scss */
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    /* line 119, sass/components/_cards.scss */
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  /* line 128, sass/components/_cards.scss */
  .card__details {
    padding: 2rem; }
    /* line 130, sass/components/_cards.scss */
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      /* line 134, sass/components/_cards.scss */
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        /* line 139, sass/components/_cards.scss */
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  /* line 146, sass/components/_cards.scss */
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  /* line 155, sass/components/_cards.scss */
  .card__price-box {
    margin-bottom: 8rem;
    color: #ffffff; }
  /* line 160, sass/components/_cards.scss */
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  /* line 165, sass/components/_cards.scss */
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media (max-width: 56.25em) {
    /* line 1, sass/components/_cards.scss */
    .card {
      height: auto;
      background-color: #ffffff !important;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      /* line 174, sass/components/_cards.scss */
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        /* line 178, sass/components/_cards.scss */
        .card__side--back {
          transform: rotateY(0deg);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      /* line 184, sass/components/_cards.scss */
      .card:hover .card__side--front {
        transform: rotateY(0deg); }
      /* line 188, sass/components/_cards.scss */
      .card:hover .card__side--back {
        transform: rotateY(0deg); }
      /* line 192, sass/components/_cards.scss */
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 4rem; }
      /* line 201, sass/components/_cards.scss */
      .card__price-box {
        margin-bottom: 3rem; }
      /* line 205, sass/components/_cards.scss */
      .card__price-value {
        font-size: 6rem; } }

/* line 1, sass/components/_story.scss */
.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  background-color: rgba(255, 255, 255, 0.6); }
  @media (max-width: 56.25em) {
    /* line 1, sass/components/_story.scss */
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 37.5em) {
    /* line 1, sass/components/_story.scss */
    .story {
      transform: skewX(0); } }
  /* line 21, sass/components/_story.scss */
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
    @media (max-width: 37.5em) {
      /* line 21, sass/components/_story.scss */
      .story__shape {
        transform: translateX(-3rem) skewX(0deg); } }
  /* line 35, sass/components/_story.scss */
  .story__img {
    height: 100%;
    object-fit: cover;
    transform: translateX(-3.5rem) scale(1.4);
    transition: all 0.3s ease-in-out; }
  /* line 42, sass/components/_story.scss */
  .story__text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      /* line 42, sass/components/_story.scss */
      .story__text {
        transform: skewX(0deg); } }
  /* line 49, sass/components/_story.scss */
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden; }
  /* line 62, sass/components/_story.scss */
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  /* line 66, sass/components/_story.scss */
  .story:hover .story__img {
    transform: translateX(-3.5rem) scale(1);
    filter: blur(3px) brightness(95%); }

/* line 1, sass/components/_bg-video.scss */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden; }
  /* line 11, sass/components/_bg-video.scss */
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

/* line 2, sass/components/_form.scss */
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  transition: all 0.1s ease-in-out;
  border-bottom: 3px solid transparent;
  width: 80%;
  display: block; }
  @media (max-width: 37.5em) {
    /* line 2, sass/components/_form.scss */
    .form__input {
      width: 100%; } }
  /* line 19, sass/components/_form.scss */
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  /* line 25, sass/components/_form.scss */
  .form__input::-webkit-input-placeholder {
    color: #999; }
  /* line 29, sass/components/_form.scss */
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }

/* line 34, sass/components/_form.scss */
.form__group:not(:last-child) {
  margin-bottom: 1.5rem; }

/* line 38, sass/components/_form.scss */
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 1rem;
  display: block;
  transition: all 0.3s ease-in-out; }

/* line 47, sass/components/_form.scss */
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5rem); }

/* line 53, sass/components/_form.scss */
.form__radio-group {
  width: 50%;
  float: left; }
  @media (max-width: 37.5em) {
    /* line 53, sass/components/_form.scss */
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

/* line 63, sass/components/_form.scss */
.form__radio-input {
  display: none; }

/* line 66, sass/components/_form.scss */
.form__radio-label {
  cursor: pointer;
  position: relative;
  padding-left: 5rem; }

/* line 72, sass/components/_form.scss */
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0rem;
  top: -0.4rem; }
  /* line 82, sass/components/_form.scss */
  .form__radio-button::after {
    height: 1.3rem;
    width: 1.3rem;
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #55c57a;
    opacity: 0;
    transition: all 0.3s ease-in-out; }

/* line 98, sass/components/_form.scss */
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

/* line 1, sass/layout/_header.scss */
.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, #7ed56fcb, #28b485cc), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (max-width: 37.5em) {
    /* line 1, sass/layout/_header.scss */
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 85vh); } }
  /* line 14, sass/layout/_header.scss */
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  /* line 20, sass/layout/_header.scss */
  .header__logo {
    height: 3.5rem; }
  /* line 24, sass/layout/_header.scss */
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

/* line 1, sass/layout/_grid.scss */
.row {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3rem; }
  @media (max-width: 56.25em) {
    /* line 1, sass/layout/_grid.scss */
    .row {
      max-width: 60rem; } }
  @media (max-width: 37.5em) {
    /* line 1, sass/layout/_grid.scss */
    .row {
      max-width: 50rem; } }
  /* line 14, sass/layout/_grid.scss */
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      /* line 14, sass/layout/_grid.scss */
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  /* line 2, sass/abstracts/_mixins.scss */
  .row::after {
    content: "";
    display: table;
    clear: both; }
  /* line 24, sass/layout/_grid.scss */
  .row [class^="col-"] {
    float: left; }
    /* line 27, sass/layout/_grid.scss */
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        /* line 27, sass/layout/_grid.scss */
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0rem !important;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      /* line 24, sass/layout/_grid.scss */
      .row [class^="col-"] {
        width: 100% !important; } }
  /* line 41, sass/layout/_grid.scss */
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  /* line 45, sass/layout/_grid.scss */
  .row .col-1-of-3 {
    width: calc((100% - (6rem * 2)) / 3); }
  /* line 49, sass/layout/_grid.scss */
  .row .col-2-of-3 {
    width: calc(((100% - (6rem * 2)) / 3) * 2 + 6rem); }
  /* line 53, sass/layout/_grid.scss */
  .row .col-1-of-4 {
    width: calc((100% - (6rem * 3)) / 4); }

/* line 1, sass/layout/_footer.scss */
.footer {
  background-color: #333;
  padding: 10rem 0;
  color: #f1f1f1; }
  @media (max-width: 56.25em) {
    /* line 1, sass/layout/_footer.scss */
    .footer {
      padding: 8rem 0; } }
  /* line 10, sass/layout/_footer.scss */
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      /* line 10, sass/layout/_footer.scss */
      .footer__logo-box {
        margin-bottom: 6rem; } }
  /* line 18, sass/layout/_footer.scss */
  .footer__logo {
    width: 15rem;
    height: auto; }
  /* line 23, sass/layout/_footer.scss */
  .footer__list {
    list-style: none; }
  /* line 27, sass/layout/_footer.scss */
  .footer__navigation {
    border-top: 1px solid #999;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      /* line 27, sass/layout/_footer.scss */
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  /* line 39, sass/layout/_footer.scss */
  .footer__item {
    display: inline-block; }
    /* line 42, sass/layout/_footer.scss */
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  /* line 48, sass/layout/_footer.scss */
  .footer__link:link, .footer__link:visited {
    color: #f1f1f1;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s ease-in-out; }
  /* line 58, sass/layout/_footer.scss */
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem black;
    transform: rotate(-5deg) scale(1.2); }
  /* line 66, sass/layout/_footer.scss */
  .footer__copyright {
    border-top: 1px solid #999;
    padding-top: 2rem;
    width: 80%;
    float: right;
    text-align: center; }
    @media (max-width: 56.25em) {
      /* line 66, sass/layout/_footer.scss */
      .footer__copyright {
        width: 100%;
        float: none; } }

/* line 2, sass/layout/_navigation.scss */
.navigation__checkbox {
  display: none; }

/* line 6, sass/layout/_navigation.scss */
.navigation__button {
  background-color: #ffffff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    /* line 6, sass/layout/_navigation.scss */
    .navigation__button {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    /* line 6, sass/layout/_navigation.scss */
    .navigation__button {
      top: 3.5rem;
      right: 3.5rem; } }

/* line 29, sass/layout/_navigation.scss */
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.8s ease-in-out; }
  @media (max-width: 56.25em) {
    /* line 29, sass/layout/_navigation.scss */
    .navigation__background {
      top: 5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    /* line 29, sass/layout/_navigation.scss */
    .navigation__background {
      top: 4rem;
      right: 3.5rem; } }

/* line 53, sass/layout/_navigation.scss */
.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease-in-out; }

/* line 65, sass/layout/_navigation.scss */
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

/* line 74, sass/layout/_navigation.scss */
.navigation__item {
  margin: 1rem 0; }

/* line 79, sass/layout/_navigation.scss */
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 50%, white 50%);
  background-size: 230%;
  transition: all 0.3s ease-in-out; }

/* line 93, sass/layout/_navigation.scss */
.navigation__link span {
  margin-right: 1rem;
  display: inline-block; }

/* line 98, sass/layout/_navigation.scss */
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

/* line 106, sass/layout/_navigation.scss */
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

/* line 109, sass/layout/_navigation.scss */
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  visibility: visible; }

/* line 116, sass/layout/_navigation.scss */
.navigation__icon {
  position: relative;
  margin-top: 3.2rem; }
  /* line 120, sass/layout/_navigation.scss */
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    border-radius: 2px;
    display: inline-block;
    transition: all 0.1s ease-in-out; }
  /* line 130, sass/layout/_navigation.scss */
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  /* line 137, sass/layout/_navigation.scss */
  .navigation__icon::before {
    top: -0.8rem; }
  /* line 141, sass/layout/_navigation.scss */
  .navigation__icon::after {
    top: 0.8rem; }

/* line 146, sass/layout/_navigation.scss */
.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

/* line 149, sass/layout/_navigation.scss */
.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

/* line 153, sass/layout/_navigation.scss */
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

/* line 157, sass/layout/_navigation.scss */
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

/* line 162, sass/layout/_navigation.scss */
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(225deg); }

/* line 1, sass/pages/_home.scss */
.section-about {
  background-color: #f1f1f1;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    /* line 1, sass/pages/_home.scss */
    .section-about {
      padding: 20rem 0; } }

/* line 11, sass/pages/_home.scss */
.section-features {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, #7ed56fcb, #28b485cc), url("../../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  /* line 19, sass/pages/_home.scss */
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    /* line 11, sass/pages/_home.scss */
    .section-features {
      padding: 15rem 0; } }

/* line 28, sass/pages/_home.scss */
.section-tours {
  margin-top: -10rem;
  padding: 25rem 0 15rem 0; }
  @media (max-width: 56.25em) {
    /* line 28, sass/pages/_home.scss */
    .section-tours {
      padding: 20rem 0 10rem 0; } }

/* line 36, sass/pages/_home.scss */
.section-stories {
  padding: 15rem 0;
  position: relative; }
  @media (max-width: 56.25em) {
    /* line 36, sass/pages/_home.scss */
    .section-stories {
      padding: 10rem 0; } }

/* line 44, sass/pages/_home.scss */
.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  @media (max-width: 56.25em) {
    /* line 44, sass/pages/_home.scss */
    .section-book {
      padding: 10rem 0; } }

/* line 56, sass/pages/_home.scss */
.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url("../../img/nat-10.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px; }
  /* line 67, sass/pages/_home.scss */
  .book__form {
    width: 50%;
    padding: 5rem; }
    @media (max-width: 56.25em) {
      /* line 67, sass/pages/_home.scss */
      .book__form {
        width: 100%; } }
  @media (max-width: 56.25em) {
    /* line 56, sass/pages/_home.scss */
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url("../../img/nat-10.jpg"); } }
